<div id="footer">
   <div class="bg-overlay"></div>
   {{ if .Site.Params.socialIcons }}
   <div class="container text-center">
      <div class="row m-0">
         <div class="col-md-4">
            <div class="leftabout">
               <a class="navbar-brand text-white mb-2" href="/" title="{{ .Site.Title }}">
                  {{ with .Site.Params.logo_black }}
                  <img src="{{ . | absURL }}" class="footer-logo" alt="logo" width="176" height="128" style="width: 100%; height: auto;">
                  {{ end }}
               </a>
               {{ with .Site.Params.footer }}
               <p>{{ .description }}</p>
               {{ end }}
            </div>
         </div>
         <div class="col-md-3 offset-0 offset-lg-1">
            <div class="midabout">
               {{ with .Site.Params.footerInformation}}
               <p class="subtitle text-white text-start">{{ .title }}</p>
               {{ end }}
               <ul>
                  {{ with .Site.Menus.main }}
                  {{ $navbar_len := len . }}
                  {{ range $i, $nav_item := . }}
                  <li>
                     <a class="" href="{{ $nav_item.URL }}" title="{{ $nav_item.Name }}">
                        {{ $nav_item.Pre }}{{ $nav_item.Name }}{{ $nav_item.Post }}
                     </a>
                  </li>
                  {{ end }}
                  {{ end }}
               </ul>
            </div>
         </div>
         <div class="col-md-3 offset-0 offset-lg-1">
            <div class="rightabout">
               {{ with .Site.Params.footerContactus}}
               <p class="subtitle text-white text-start">{{ .title }}</p>
               <p class="adress">{{ .address }}</p>
               <a href="tel:{{ .telNumber }}">{{ .tel }}</a><br>
               Email: <a href="{{ .url }}">{{ .text }}</a>
               {{ end }}
               <ul class="mt-3">
                  <li>
                     {{ range $item := .Site.Params.socialIcons }}
                     <a href="{{ $item.url }}" class="{{ $item.icon }} fa-1x" title="{{ $item.title }}"></a>
                     {{ end }}
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   {{ end }}
   <div class="text-center p-2 mostftr">
      <div class="container d-block d-md-flex justify-content-center justify-content-md-between">
         {{ with .Site.Params.footer }}
         <div>
            <a href="{{ .url | absURL }}" title="{{ .text }}"><small>{{ .text }}</small></a>
         </div>
         {{ end }}

         {{ with .Site.Menus.footer }}
         <div class="d-flex justify-content-center gap-3">
            {{ $navbar_len := len . }}
            {{ range $i, $nav_item := . }}
            <a class="text-decoration-underline text-white" href="{{ $nav_item.URL }}" title="{{ $nav_item.Name }}" aria-label="{{ $nav_item.Name }}">
               <small class="text-white">
                  {{ $nav_item.Pre }}{{ $nav_item.Name }}{{ $nav_item.Post }}
               </small>
            </a>
            {{ end }}
         </div>
         {{ end }}
      </div>
   </div>
</div>