<style>
   .heroSection {
      position: relative;
      height: 100vh;
      overflow: hidden;
   }

   .home-video-hero {
      background-image: url(/img/hero-banner-img-placeholder.webp?fit=1280%2C653&ssl=1);
      color: #FFFFFF;
      height: 100vh;
      padding: 0;
      overflow: hidden;
      background-size: cover;
      background-position: 50%;
      float: left;
      clear: both;
      width: 100vw;
      position: relative;
      left: 50vw;
      right: 50vw;
      margin-left: -50vw;
      margin-right: -50vw;
   }

   .main-video {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
   }

   .main-video video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
   }

   .home-video-hero .vert-wrapper {
      background-color: rgba(19, 46, 83, 0.3);
      position: relative;
   }

   .hero-title {
      font-size: 3.6rem;
      text-transform: uppercase;
   }

   @media (max-width: 767px) {
      .hero-title {
         font-size: 2.6rem;
      }
   }
</style>

<section class="m-0">
   <div class="home-video-hero">
      <div class="main-video">
         <video width="100%" height="500" autoplay="" loop="" muted="">
            <source src="/video/home-hero-video.webm" type="video/webm">
            <source src="/video/home-hero-video.mp4" type="video/mp4">
         </video>
      </div>
      <div class="vert-wrapper">
         <div class="vert-cell">
            <div class="container">
               <div class="row text-center">
                  <div class="col-xs-12">
                     {{if .Site.Params.hero.hero_text_dropshadow }}
                     <h1 class="mb-3 hero-title"
                        style="color: {{ .Site.Params.hero.hero_text_color }};  text-shadow: {{ .Site.Params.hero.hero_text_dropshadow_amount }} {{ .Site.Params.hero.hero_text_dropshadow_color }}; ">
                        {{
                        .Site.Params.hero.hero_text }}</h1>
                     {{else}}
                     <h1 class="mb-3" style="color: {{ .Site.Params.hero.hero_text_color }};">
                        {{
                        .Site.Params.hero.hero_text }}</h1>
                     {{end}}
                     <h4 class="mb-3 d-none">{{ .Site.Params.heros.subtitle }}</h4>
                     <div class="btnsectHero">
                        {{ if .Site.Params.hero.hero_button }}
                        <a class="btn-default hero-btn"
                           style="color: {{ .Site.Params.hero.hero_button_color }}; background-color: {{ .Site.Params.hero.hero_button_bg_color }};"
                           href=" {{ .Site.Params.hero.hero_button_link | safeURL }}">{{
                           .Site.Params.hero.hero_button_text }}
                        </a>
                        {{ end }}
                        {{ range .Site.Menus.herobar.ByWeight }}
                        <a class="btn-default d-none" href="{{ .URL | safeURL }}">{{ .Pre }}</a>
                        {{ end }}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="scroll-down">
         <div class="scroll-arrows">
            <a href="#second-panel" class="scroll" aria-label="Back to top Link">
               <i class="fa fa-angle-double-down"></i>
            </a>
         </div>
      </div>
      <div id="second-panel"></div>
   </div>
</section>