<div class="container" id="areuready">
   <div class="row">
      <div class="heading text-center">
         <div class="ready-wrap">
            <video width="100%" height="auto" autoplay="" loop="" muted="">
               <source src="/video/home-hero-video.webm" type="video/webm">
               {{/*
               <source src="/video/home-hero-video.mp4" type="video/mp4"> */}}
            </video>
            <img src="/img/are-you-ready.webp" alt="Are You Ready?">
         </div>
      </div>
   </div>
   <div class="row">
      <a class="btn-default2 m-auto mt-5" style="width: fit-content;" href="/contact">Get Our Brochure</a>
   </div>
   <!-- /.row -->
</div>