<div class="container" id="wheretobuy">
   <div class="row">
      <div class="col-12">
         <div class="heading text-center">
         </div>
         <div class="row align-items-center">
            {{ range .Site.Data.wheretobuy }}

            <div class="col-md-5">
               <img src="{{ .image }}" style="width:100%; height: auto;" alt="{{.alt}}" width="960" height="720">
            </div>
            <div class="col-md-6">
               <h2>{{ .title | safeHTML }}</h2>
               <p>{{ .description | safeHTML }}</p>
               <a class="btn-default2" aria-label="Button" href="{{.url | safeHTML }}">{{.buttontext | safeHTML }}</a>
            </div>

            {{ end }}
         </div>
      </div>
   </div>
   <!-- /.row -->
</div>