<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "head.html" . -}}
{{ if or (.Params.math) (.Site.Params.math) }}
{{- partial "math.html" . -}}
{{ end }}

<head>
   {{ partial "header.html" . }}
</head>

<body>
   <div id="sitemap">
      {{ partial "breadcrumbs.html" . }}
      <div id="content">
         <div class="container">
            <div class="row my-5">
               <div class="col-md-12">
                  <p>
                     <strong>Goal Capital Inc. is Committed to Protecting Privacy of Information </strong>
                  </p>
                  <p>
                     Goal Capital Inc. is committed to respecting and protecting the confidentiality of any personal
                     information that our customers and potential customers entrust with us. This Policy reflects that
                     commitment.
                  </p>
                  <p>
                     <strong>What Personal Information is Collected?</strong>
                  </p>
                  <p>
                     In attempt to better our products and services, Goal Capital Inc. collects a variety of personal
                     information from you. Examples of such personal information would be web traffic, name, address,
                     phone number, e-mail address or various preferences and interests.
                  </p>
                  <p>
                     <strong>Collecting and Using Personal Information</strong>
                  </p>
                  <p>
                     Goal Capital Inc. does not sell or rent information to anyone.<br>
                     Below are reasons Goal Capital Inc. uses the information collected:
                  </p>
                  <p>
                     <strong>1. To create and maintain effective business relationships.</strong>
                  </p>
                  <p>
                     Goal Capital Inc. will collect information from its customers and other individuals with whom Goal
                     Capital Inc. comes into contact to confirm identity and related contact information. Goal Capital
                     Inc. will send periodic newsletters to visitors who opt-in to our mailing list and other news
                     releases with market data.
                  </p>
                  <p><strong>2. To further develop, enhance and market products and services.</strong></p>
                  <p>
                     Goal Capital Inc. may collect personal information regarding customer’s specific investment
                     preferences and goals. This information is confidential and may be used to develop services and to
                     improve existing services and offerings.
                  </p>
                  <p><strong>3. To understand customer needs and preferences.</strong></p>
                  <p>
                     Goal Capital Inc. keeps personal information for the purpose of providing personalized service. For
                     example, if a customer wishes to receive information pertaining to a specific company, when there
                     is information available pertaining to that issue, such information can be sent only to those
                     customers who expressed an interest in receiving it. Personal information may be utilized in
                     connection with on-line communications with our customers in order to customize the look and scope
                     of activities offered to that customer on-line.
                  </p>
                  <p>
                     <strong>4. To communicate with our customers or potential customers</strong>
                  </p>
                  <p>
                     Goal Capital Inc., with consent of the person whose information is being used may send information
                     via direct marketing or through electronic means to communicate to that person about various future
                     events or proposals relating to Goal Capital Inc..
                  </p>
                  <p><strong>Requests to be removed from our mailing list</strong></p>
                  <p>
                     Goal Capital Inc. will honour any reasonable requests made to review and update your own personal
                     information, and to remove your information from areas where its use is no longer approved by you.
                     Goal Capital Inc. will take reasonable steps to process these requests in a timely manner.
                  </p>
                  <p>
                     Should you have any questions or concerns about our Privacy Policy, please <a
                        href="/contact/">contact us</a>.
                  </p>
               </div>
            </div>
            <!-- /.row -->

         </div>
         <!-- /.container -->
      </div>
      <!-- /#content -->

      {{ partial "footer.html" . }}

   </div>
   <!-- /#all -->

   {{ partial "scripts.html" . }}

</body>

</html>