<!DOCTYPE html>
<html lang="{{ .Site.Params.lang }}">
{{- partial "head.html" . -}}
{{ if or (.Params.math) (.Site.Params.math) }}
{{- partial "math.html" . -}}
{{ end }}

<head>
   {{ partial "header.html" . }}
</head>

<body id="backtop">
   <div class="main">
      {{ partial "breadcrumbs.html" . }}

      <div class="container" id="about">
         <div class="row mb-5">
            <div class="col-md-7">
               {{ .Content }}
            </div>
            <div class="col-md-5">
               <img src="../img/default.webp" class="w-100" style="margin-top: 20px;" width="327" height="245">
            </div>
         </div>
      </div>

      <section class="areuready">
         <div class="container" id="areuready">
            {{- partial "ready.html" . -}}
         </div>
      </section>
      <div class="backtotop"><a href="#backtop" aria-label="Back to Top Button"><i class="fa fa-chevron-up"></i></a>
      </div>
   </div>
   {{- partial "footer.html" . -}}
</body>

</html>