<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "head.html" . -}}
{{ if or (.Params.math) (.Site.Params.math) }}
{{- partial "math.html" . -}}
{{ end }}

<head>
   {{ partial "header.html" . }}
</head>

<body>
   <div id="sitemap">
      {{ partial "breadcrumbs.html" . }}
      <div id="content">
         <div class="container">
            <div class="row my-5">
               <div class="col-md-12">
               </div>
            </div>
            <!-- /.row -->

         </div>
         <!-- /.container -->
      </div>
      <!-- /#content -->

      {{ partial "footer.html" . }}

   </div>
   <!-- /#all -->

   {{ partial "scripts.html" . }}

</body>

</html>