<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "head.html" . -}}
{{ if or (.Params.math) (.Site.Params.math) }}
{{- partial "math.html" . -}}
{{ end }}

<head>
   {{ partial "header.html" . }}
</head>

<body>
   <div id="sitemap">
      {{ partial "breadcrumbs.html" . }}
      <div id="content">
         <div class="container">
            <div class="row my-5">
               <div class="col-md-12">
                  <div class="row">
                     <div class="col-md-4">
                        <p>
                           <strong>Feeds</strong>
                        </p>
                        <p>
                           <a href="feed:https://goalcapital.net/feed/">Main RSS</a>
                        </p>
                        <p>
                           <a href="feed:https://goalcapital.net/comments/feed/">Comment Feed</a>
                        </p>
                        <p><strong>Tags</strong></p>
                        <p><strong>Archives by Month</strong></p>
                     </div>
                     <div class="col-md-4">
                        <p><strong>Blog Categories</strong></p>
                        <p>No Categories</p>
                        <p><strong>Portfolio Categories</strong></p>
                        <p>No categories</p>
                     </div>
                     <div class="col-md-4">
                        <p><strong>Pages</strong></p>
                        <p><a href="/about">About Us</a></p>
                        <p><a href="/contact">Contact Us</a></p>
                        <p><a href="/">Home</a></p>
                        <p><a href="/legal">Legal</a></p>
                        <p><a href="/news">News</a></p>
                        <p><a href="/clients">Our Clients</a></p>
                        <p><a href="/privacy-policy">Privacy Policy</a></p>
                        <p><a href="/services">Services</a></p>
                        <p><a href="/sitemap">Sitemap</a></p>
                     </div>
                  </div>
               </div>
            </div>
            <!-- /.row -->

         </div>
         <!-- /.container -->
      </div>
      <!-- /#content -->

      {{ partial "footer.html" . }}

   </div>
   <!-- /#all -->

   {{ partial "scripts.html" . }}

</body>

</html>