<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "head.html" . -}}
{{ if or (.Params.math) (.Site.Params.math) }}
{{- partial "math.html" . -}}
{{ end }}

<head>
   {{ partial "header.html" . }}
</head>

<body>
   <div id="all">
      {{ partial "breadcrumbs.html" . }}
      <div id="content">
         <div class="container">
            <div class="row my-5">
               <div class="col-md-12">
                  <div class="row">
                     <div class="col-md-8">
                        <p>
                           Goal Capital Inc. is a progressive investor relations and consulting company that specializes
                           in helping small-to mid-cap companies gain awareness in the investment community.
                        </p>
                        <p>
                           Established as personalized outsourced investor relations services, our mission is to build a
                           knowledgeable, loyal and ever-expanding shareholder base for each client.
                        </p>
                        <p class="text-center">
                           <i><strong>“Goal Capital Inc. can introduce new sources of potential financing”</strong></i>
                        </p>
                        <p>
                           We value, and are defined by, entrepreneurialism, creativity, integrity and a willingness to
                           look beyond conventional methods for better ways to accomplish our objectives. Goal Capital
                           specializes in helping emerging growth, micro to mid cap publicly traded companies
                        </p>
                        <p>
                           (NYSE, NASDAQ, OTC Markets, TSX , TSX.V & CSE) gain market awareness in the investment
                           community. Our mission is to build a knowledgeable, loyal and ever-expanding shareholder base
                           for each client. Our non-deal road shows focus on introducing our clients management to
                           investors in cities across the United States and Canada. We organize one-on-one and group
                           meetings between our clients and our network of institutional, retail brokers, family office
                           and private/accredited investors, as well analysts and newsletter writers.
                        </p>
                        <h3>
                           Strategic Planning
                        </h3>
                        <p>
                           Developing a strategic plan in order to maximize the investor relations budget and to
                           successfully market the company while maintaining the utmost integrity.
                        </p>
                        <p>
                           This includes analyzing current status of investor relations and strategically developing a
                           long term plan in order to achieve proper valuation in the market.
                        </p>
                        <p>
                           Goal Capital works closely with their clients management in order to ensure that all
                           information is properly and accurately disseminated.
                        </p>
                     </div>
                     <div class="col-md-3  offset-1 d-none d-md-block">
                        <p>
                           <strong class="mt-0">Our Services</strong>
                        </p>
                        <p>
                           Goal Capital understands that every company is different. Different growth stages, different
                           challenges, different resources. <a href="/services/">Our Services</a>
                        </p>
                        <p>
                           <strong class="mt-0">Our Clients</strong>
                        </p>
                        <p>
                           Goal Capital has a diverse range of clients, in multiple industries. We are ready to serve
                           your needs, with multiple years of experience. <a href="/clients/">Our Clients</a>
                        </p>
                        <p>
                           <strong class="mt-0">Contact Us</strong>
                        </p>
                        <p>
                           We look forward to receiving feedback and hearing from investors. <a href="/contact/">Contact
                              Us</a>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <!-- /.row -->

         </div>
         <!-- /.container -->
      </div>
      <!-- /#content -->

      {{ partial "footer.html" . }}

   </div>
   <!-- /#all -->

   {{ partial "scripts.html" . }}

</body>

</html>