<style>
        .hero-btn:hover {
                color: var(--hover-color) !important;
                background-color: var(--hover-background-color) !important;
        }
</style>

<section class="m-0">
        <div class="home-hero">
                <!-- Background image -->
                <div class="text-center bg-image" style="
        background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
        height: 500px;
        margin-top: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        ">

                        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); height: 500px;">

                                <div class="herotitlesection">
                                        {{if .Site.Params.hero.hero_text_dropshadow }}
                                        <h1 class="mb-3"
                                                style="color: {{ .Site.Params.hero.hero_text_color }};  text-shadow: {{ .Site.Params.hero.hero_text_dropshadow_amount }} {{ .Site.Params.hero.hero_text_dropshadow_color }}; ">
                                                {{
                                                .Site.Params.hero.hero_text }}</h1>
                                        {{else}}
                                        <h1 class="mb-3" style="color: {{ .Site.Params.hero.hero_text_color }};">
                                                {{
                                                .Site.Params.hero.hero_text }}</h1>
                                        {{end}}
                                        <h4 class="mb-3 d-none">{{ .Site.Params.heros.subtitle }}</h4>
                                        <div class="btnsectHero">
                                                {{ if .Site.Params.hero.hero_button }}
                                                <a class="btn-default hero-btn"
                                                        style="color: {{ .Site.Params.hero.hero_button_color }}; background-color: {{ .Site.Params.hero.hero_button_bg_color }}; --hover-color: {{ .Site.Params.hero.hero_button_hover_color }};
                                                        --hover-background-color: {{ .Site.Params.hero.hero_button_bg_hover_color }};"
                                                        href=" {{ .Site.Params.hero.hero_button_link | safeURL }}">{{
                                                        .Site.Params.hero.hero_button_text }}
                                                </a>
                                                {{ end }}
                                                {{ range .Site.Menus.herobar.ByWeight }}
                                                <a class="btn-default d-none" href="{{ .URL | safeURL }}">{{ .Pre }}</a>
                                                {{ end }}
                                        </div>
                                </div>

                        </div>
                </div>
                <!-- Background image -->


        </div>
</section>