<div class="container py-5" id="howtouse">
   <div class="row">
      <div class="heading text-center">
      </div>
      <div class="row">
         {{ range .Site.Data.home_content }}

         <div class="col-md-4">
            <div class="home-banner">
               <p>{{ .description | safeHTML | markdownify }}</p>
            </div>
         </div>

         {{ end }}
      </div>

      <div class="row py-5">
         <div class="col-12">
            <a class="btn-default2 d-table m-auto text-center" href="/about/">The Value Of Outsourced Investor
               Relations</a>
         </div>
      </div>

      <div class="row">
         <div class="col-12">
            <p>
               <strong>Goal Capital Inc.</strong> is a progressive investor relations and consulting company that
               specializes in helping
               Micro to Mid Cap publicly traded companies (NYSE, NASDAQ, OTC Markets, TSX , TSX.V & CSE) gain market
               awareness in the investment community.
            </p>
            <p>
               Established as a personalized outsourced investor relations services, our mission is to build a
               knowledgeable, loyal and ever-expanding shareholder base for each client. Our non-deal road shows focus
               on introducing our clients management to potential investors in cities across the United States and
               Canada. We organize one-on-one and group meetings between our clients and our network of institutional,
               retail, and private/accredited investors, as well as with analysts and newsletter writers.
            </p>
            <p>
               Please take the time to learn more <a href="/about/">about us</a> …
            </p>
         </div>
      </div>
   </div>
   <!-- /.row -->
</div>